.grd {
  --min: 15ch;
  --gap: 1.5rem;
  --columns: 12;
  --rows: 1;
  display: grid;
  grid-gap: var(--gap);
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
}
.grd + .grd {
  margin-top: 1.5rem;
}
.grd-auto {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
}
.grd[gap="0"] {
  margin-top: 0;
  --gap: 0;
}
.grd > * {
  grid-column: auto/span var(--col);
}
.grd-2, .grd-3, .grd-4 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 576px) {
  .grd-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grd-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grd-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .grd-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
.grd [col="1"] {
  --col: 1;
}
.grd [col="2"] {
  --col: 2;
}
.grd [col="3"] {
  --col: 3;
}
.grd [col="4"] {
  --col: 4;
}
.grd [col="5"] {
  --col: 5;
}
.grd [col="6"] {
  --col: 6;
}
.grd [col="7"] {
  --col: 7;
}
.grd [col="8"] {
  --col: 8;
}
.grd [col="9"] {
  --col: 9;
}
.grd [col="10"] {
  --col: 10;
}
.grd [col="11"] {
  --col: 11;
}
.grd [col="12"] {
  --col: 12;
}
@media (min-width: 576px) {
  .grd [sm] {
    grid-column: auto/span var(--sm);
  }
  .grd [sm="1"] {
    --sm: 1;
  }
  .grd [sm="2"] {
    --sm: 2;
  }
  .grd [sm="3"] {
    --sm: 3;
  }
  .grd [sm="4"] {
    --sm: 4;
  }
  .grd [sm="5"] {
    --sm: 5;
  }
  .grd [sm="6"] {
    --sm: 6;
  }
  .grd [sm="7"] {
    --sm: 7;
  }
  .grd [sm="8"] {
    --sm: 8;
  }
  .grd [sm="9"] {
    --sm: 9;
  }
  .grd [sm="10"] {
    --sm: 10;
  }
  .grd [sm="11"] {
    --sm: 11;
  }
  .grd [sm="12"] {
    --sm: 12;
  }
}
@media (min-width: 768px) {
  .grd [md] {
    grid-column: auto/span var(--md);
  }
  .grd [md="1"] {
    --md: 1;
  }
  .grd [md="2"] {
    --md: 2;
  }
  .grd [md="3"] {
    --md: 3;
  }
  .grd [md="4"] {
    --md: 4;
  }
  .grd [md="5"] {
    --md: 5;
  }
  .grd [md="6"] {
    --md: 6;
  }
  .grd [md="7"] {
    --md: 7;
  }
  .grd [md="8"] {
    --md: 8;
  }
  .grd [md="9"] {
    --md: 9;
  }
  .grd [md="10"] {
    --md: 10;
  }
  .grd [md="11"] {
    --md: 11;
  }
  .grd [md="12"] {
    --md: 12;
  }
}
@media (min-width: 992px) {
  .grd [lg] {
    grid-column: auto/span var(--lg);
  }
  .grd [lg="1"] {
    --lg: 1;
  }
  .grd [lg="2"] {
    --lg: 2;
  }
  .grd [lg="3"] {
    --lg: 3;
  }
  .grd [lg="4"] {
    --lg: 4;
  }
  .grd [lg="5"] {
    --lg: 5;
  }
  .grd [lg="6"] {
    --lg: 6;
  }
  .grd [lg="7"] {
    --lg: 7;
  }
  .grd [lg="8"] {
    --lg: 8;
  }
  .grd [lg="9"] {
    --lg: 9;
  }
  .grd [lg="10"] {
    --lg: 10;
  }
  .grd [lg="11"] {
    --lg: 11;
  }
  .grd [lg="12"] {
    --lg: 12;
  }
}
@media (min-width: 1200px) {
  .grd [xl] {
    grid-column: auto/span var(--xl);
  }
  .grd [xl="1"] {
    --xl: 1;
  }
  .grd [xl="2"] {
    --xl: 2;
  }
  .grd [xl="3"] {
    --xl: 3;
  }
  .grd [xl="4"] {
    --xl: 4;
  }
  .grd [xl="5"] {
    --xl: 5;
  }
  .grd [xl="6"] {
    --xl: 6;
  }
  .grd [xl="7"] {
    --xl: 7;
  }
  .grd [xl="8"] {
    --xl: 8;
  }
  .grd [xl="9"] {
    --xl: 9;
  }
  .grd [xl="10"] {
    --xl: 10;
  }
  .grd [xl="11"] {
    --xl: 11;
  }
  .grd [xl="12"] {
    --xl: 12;
  }
}
/*# sourceMappingURL=grd.lite.css.map */